@charset "UTF-8";
/* MIXINS con opciones de display y alineaciones */
/* MAP con tamaños de letras para los titulos*/
/*Títulos para usarlos como EXTENDS */
.title_2, html main .index_titulo h2, html main .prod_titulos h2, html main .tituloNos h2, html main .tituloCont h2 {
  color: gold;
  font-style: italic;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  font-size: 2.5rem;
}

.title_3, html main .index_titulo h3, html main .prod_titulos h3, html main .tituloNos h3, html main .tituloCont h3 {
  color: white;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  font-size: 2rem;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: sans-serif;
  font-size: 1rem;
}

html .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: black;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  letter-spacing: 0.15rem;
  height: 100px;
  z-index: 2;
}

html .header .header_titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(grey), to(white));
  background-image: linear-gradient(to bottom, grey, white);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Bebas Neue', cursive;
  font-size: 3.5rem;
  letter-spacing: 7.5px;
  padding-left: 15px;
}

html .header .header_titulo h1 {
  font-size: 3.5rem;
}

html .header .nav_font_size {
  font-size: 1.25rem;
}

html main {
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(#232b2b));
  background-image: linear-gradient(to bottom, black, #232b2b);
  /*     .zonas_grid{          A CORREGIR
                display: grid;
                grid-template-columns: repeat(2,45%);
                grid-template-rows: 20vh 60vh;
                grid-template-areas:
                    "titulo titulo"
                    "zonas mapa";
                    .zonas_titulo{
                        grid-area: titulo;
                        text-align: center;
                        padding: 0px 20px
                    }
                }
                .zonas{
                    grid-area: zonas;
                    text-align: start;
                }
                .mapa{
                    grid-area: mapa;
                } */
}

html main .index_titulo {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 25px 0px;
}

html main .index_res {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding: 5vh 5vw;
}

html main .index_res .index_res_1 {
  padding: 1vh 5vw;
}

html main .index_res .index_res_2 {
  padding: 1vh 5vw;
}

html main .index_res h3 a {
  display: -ms-grid;
  display: grid;
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  font-family: 'Libre Baskerville', serif;
}

html main .index_res h3 a:hover {
  color: gold;
}

html main .prod_titulos {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5vh;
  text-align: center;
}

html main .prod__margin {
  margin: 2vw;
}

html main .prod__margin .card_font_title {
  color: white;
  font-size: 1.5rem;
  font-family: 'Fjalla One', sans-serif;
}

html main .prod__margin .card_font_description {
  color: white;
  font-size: 1rem;
  font-family: 'Slabo 27px', serif;
}

html main .tituloNos {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5vh;
  text-align: center;
  margin-bottom: 5vh;
}

html main .presentaciones .presentaciones__espacios {
  margin: 2vh 0vw;
}

html main .presentaciones .presentaciones__espacios h3 {
  display: -ms-grid;
  display: grid;
  font-size: 2rem;
  margin: 2vh 0vw;
  color: white;
}

html main .presentaciones .presentaciones__espacios h3 em {
  color: gold;
  font-size: 1.5rem;
}

html main .tituloCont {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 5vh;
  margin-bottom: 5vh;
}

html main .fill {
  /* contacto formulario */
  min-height: 100%;
  height: 100%;
}

html .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #232b2b;
  padding: 10px 0px;
  color: white;
}

html .footer .footer__p {
  margin: 0;
  text-align: center;
}

html .footer div a {
  text-decoration: none;
}

@media (min-width: 992px) and (max-width: 1200px) {
  html {
    font-size: 0.9rem;
  }
}

@media (min-width: 601px) and (max-width: 991px) {
  html {
    font-size: 0.8rem;
  }
  html .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: black;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 0px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    letter-spacing: 0.15rem;
    height: auto;
    z-index: 2;
  }
  html .index_res {
    display: -ms-grid;
    display: grid;
    text-align: center;
    padding: 3vh 0vw;
  }
}

@media (min-width: 450px) and (max-width: 600px) {
  html {
    font-size: 0.7rem;
  }
  html .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: black;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 0px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    letter-spacing: 0.05rem;
    height: auto;
    z-index: 2;
  }
  html .index_res {
    display: -ms-grid;
    display: grid;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 0;
  }
}

@media (max-width: 449px) {
  html {
    font-size: 0.6rem;
  }
  html .header {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: black;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 0px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    letter-spacing: 0.05rem;
    height: auto;
    z-index: 2;
  }
  html main .index_res {
    display: -ms-grid;
    display: grid;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 0;
  }
  html .footer {
    display: -ms-grid;
    display: grid;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #232b2b;
    padding: 10px 0px;
    text-align: center;
    color: white;
  }
  html .footer .footer__p {
    margin: 00px;
    text-align: center;
  }
  html .footer div a {
    text-decoration: none;
  }
}
/*# sourceMappingURL=styles.css.map */